body {
    background-color: rgb(192, 105, 243);
    font: normal 15pt Arial;
    
}
header {
    color: rgb(56, 231, 231);
    text-align: center;
}
section {
    background-color: cornsilk;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.849);
}
footer {
    color: rgb(56, 231, 231);
    text-align: center;
    font-style: italic;
}